# Homework 2
### Ellen Lempres
### February 2023

[Question 1](#1)

[Question 2](#2)

[Question 3](#3)

[Question 4](#4)

[Question 5](#5)

[Question 6](#6)

[Question 7](#7)

[Question 8](#8)

[Question 9](#9)

[Question 10](#10)

[Question 11](#11)

[Question 12](#12)

In [188]:
"""""""""       Import All Packages Needed       """""""""
import pandas as pd
import numpy as np
import os

In [189]:
os.getcwd()

'/Users/ellenlempres/Documents/Columbia/Modern_Data_Structures/QMSS-GR5072_Spring2023_HWs/homework-2-main/Data'

In [190]:
os.chdir('/Users/ellenlempres/Documents/Columbia/Modern_Data_Structures/QMSS-GR5072_Spring2023_HWs/homework-2-main/Data')

In [1]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [192]:
nbadata = pd.read_csv('Seasons_Stats_NBA.csv')
nbadata

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

<a id = "1"></a>
#### 1. Which NBA player scored the most points in a single season? What seasons/year was this?

Wilt Chamberlain scored the most points in a single season, and he did that in 1962.

In [58]:
nbadf = pd.DataFrame(nbadata)

In [26]:
nbadf.sort_values("PTS", ascending=False)

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
1706,1962.0,Wilt Chamberlain*,C,25.0,PHW,80.0,NaN,3882.0,31.7,0.536,...,0.613,NaN,NaN,2052.0,192.0,NaN,NaN,NaN,123.0,4029.0
1827,1963.0,Wilt Chamberlain*,C,26.0,SFW,80.0,NaN,3806.0,31.8,0.550,...,0.593,NaN,NaN,1946.0,275.0,NaN,NaN,NaN,136.0,3586.0
8469,1987.0,Michael Jordan*,SG,23.0,CHI,82.0,82.0,3281.0,29.8,0.562,...,0.857,166.0,264.0,430.0,377.0,236.0,125.0,272.0,237.0,3041.0
1593,1961.0,Wilt Chamberlain*,C,24.0,PHW,79.0,NaN,3773.0,27.8,0.519,...,0.504,NaN,NaN,2149.0,148.0,NaN,NaN,NaN,130.0,3033.0
1962,1964.0,Wilt Chamberlain*,C,27.0,SFW,80.0,NaN,3689.0,31.6,0.537,...,0.531,NaN,NaN,1787.0,403.0,NaN,NaN,NaN,182.0,2948.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<a id = "2"></a>
#### 2. Which NBA player scored the most points in 1991?

Michael Jordan scored the most points in 1991.

In [67]:
# Adding a more meaningful abbreviation instead of very simple one, or add a comment line to describe it

df91 = nbadf.loc[(nbadf['Year'] == 1991)]
df91.sort_values("PTS", ascending=False)

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
10212,1991.0,Michael Jordan*,SG,27.0,CHI,82.0,82.0,3034.0,31.6,0.605,...,0.851,118.0,374.0,492.0,453.0,223.0,83.0,202.0,229.0,2580.0
10251,1991.0,Karl Malone*,PF,27.0,UTA,82.0,82.0,3302.0,24.8,0.596,...,0.770,236.0,731.0,967.0,270.0,89.0,79.0,244.0,268.0,2382.0
10132,1991.0,Patrick Ewing*,C,28.0,NYK,81.0,81.0,3104.0,23.7,0.561,...,0.745,194.0,711.0,905.0,244.0,80.0,258.0,291.0,287.0,2154.0
10280,1991.0,Chris Mullin*,SF,27.0,GSW,82.0,82.0,3315.0,21.4,0.618,...,0.884,141.0,302.0,443.0,329.0,173.0,63.0,245.0,176.0,2107.0
10414,1991.0,Dominique Wilkins*,SF,31.0,ATL,81.0,81.0,3078.0,23.5,0.555,...,0.829,261.0,471.0,732.0,265.0,123.0,65.0,201.0,156.0,2101.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10224,1991.0,Bart Kofoed,SG,26.0,GSW,5.0,0.0,21.0,0.7,0.266,...,0.500,2.0,1.0,3.0,4.0,0.0,0.0,2.0,4.0,3.0
10105,1991.0,Byron Dinkins,PG,23.0,IND,2.0,0.0,5.0,7.9,1.000,...,NaN,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0
10235,1991.0,Gary Leonard,C,23.0,ATL,4.0,0.0,9.0,8.7,0.568,...,0.500,0.0,2.0,2.0,0.0,0.0,1.0,0.0,2.0,2.0
10385,1991.0,Jim Thomas,SG,30.0,MIN,3.0,0.0,14.0,0.7,0.250,...,NaN,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,2.0
10269,1991.0,Mark McNamara,C,31.0,ORL,2.0,0.0,13.0,1.0,0.000,...,NaN,0.0,4.0,4.0,0.0,0.0,0.0,0.0,1.0,0.0

<a id = "3"></a>
#### 3. Which player had the best free throw percentage ("FT%") from the year 2000 to the most recent year in the data?

If there are multiple players who have tied for the best percentage, then sort on the column with player names and submit your answer as a pd.DataFrame.

There are multiple players with a 1.0 FT%, so I have sorted by player, as well.

In [69]:
FT2000 = nbadf.loc[(nbadf['Year'] > 2000)]
FT2000.sort_values(["FT%", "Player"], ascending=False)

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
16176,2003.0,Zendon Hamilton,C,27.0,TOR,3.0,0.0,12.0,17.7,0.510,...,1.0,1.0,3.0,4.0,0.0,1.0,0.0,1.0,2.0,6.0
17167,2005.0,Zarko Cabarkapa,PF,23.0,PHO,3.0,0.0,11.0,32.4,0.605,...,1.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,9.0
17572,2005.0,Yuta Tabuse,PG,24.0,PHO,4.0,0.0,17.0,15.6,0.451,...,1.0,2.0,2.0,4.0,3.0,0.0,0.0,1.0,1.0,7.0
18271,2007.0,Will Blalock,PG,23.0,DET,14.0,0.0,166.0,4.5,0.383,...,1.0,6.0,9.0,15.0,17.0,5.0,0.0,12.0,9.0,25.0
16906,2004.0,Wesley Person,SG,32.0,ATL,9.0,0.0,132.0,10.6,0.480,...,1.0,2.0,23.0,25.0,5.0,3.0,1.0,4.0,5.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19524,2009.0,Adonal Foyle,C,33.0,MEM,1.0,0.0,3.0,-6.3,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
18534,2007.0,Aaron McKie,SF,34.0,LAL,10.0,0.0,131.0,7.5,0.647,...,NaN,1.0,17.0,18.0,13.0,4.0,0.0,8.0,14.0,22.0
21753,2013.0,Aaron Brooks,PG,28.0,HOU,7.0,0.0,38.0,5.6,0.385,...,NaN,1.0,1.0,2.0,6.0,1.0,3.0,4.0,5.0,10.0
23337,2015.0,A.J. Price,PG,28.0,PHO,5.0,0.0,44.0,-1.6,0.214,...,NaN,0.0,3.0,3.0,6.0,0.0,0.0,1.0,5.0,6.0
16172,2003.0,A.J. Guyton,PG,24.0,GSW,2.0,0.0,9.0,-9.0,0.000,...,NaN,0.0,0.0,0.0,2.0,1.0,0.0,1.0,0.0,0.0

<a id = "4"></a>
#### 4. Among those with at least 50 attempts ('FTA'), which player had the best free throw percentage ("FT%") from the year 2000 to the most recent year in the data?

Terrell Brandon had the highest individual season free throw percentage from 2000 to present with a free throw percentage of 98.8%.

In [183]:
FTwAtt = FT2000.loc[(FT2000['FTA'] >= 50)]
FTwAtt.sort_values(["FT%"], ascending=False)
FTwAtt.groupby("FT%")["Player"].max()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
15565,2002.0,Terrell Brandon,PG,31.0,MIN,32.0,28.0,962.0,21.2,0.494,...,0.988,17.0,76.0,93.0,264.0,52.0,6.0,43.0,49.0,397.0
19434,2009.0,Jose Calderon,PG,27.0,TOR,68.0,68.0,2333.0,18.8,0.613,...,0.981,16.0,178.0,194.0,607.0,74.0,7.0,143.0,114.0,873.0
22484,2014.0,Danny Granger,SF,30.0,IND,29.0,2.0,653.0,10.3,0.491,...,0.962,24.0,81.0,105.0,33.0,9.0,13.0,36.0,41.0,242.0
22671,2014.0,Gary Neal,SG,29.0,CHA,22.0,1.0,507.0,14.0,0.571,...,0.961,2.0,38.0,40.0,37.0,11.0,0.0,25.0,39.0,247.0
19350,2009.0,Ray Allen,SG,33.0,BOS,79.0,79.0,2876.0,17.3,0.624,...,0.952,66.0,212.0,278.0,218.0,69.0,13.0,134.0,157.0,1434.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19982,2010.0,Josh Boone,PF,25.0,NJN,63.0,28.0,1045.0,13.7,0.509,...,0.328,124.0,191.0,315.0,29.0,30.0,48.0,37.0,111.0,253.0
17715,2006.0,Andris Biedrins,C,19.0,GSW,68.0,2.0,1000.0,13.6,0.595,...,0.306,124.0,159.0,283.0,24.0,23.0,47.0,34.0,190.0,258.0
23225,2015.0,Ian Mahinmi,C,28.0,IND,61.0,6.0,1146.0,10.8,0.516,...,0.304,105.0,251.0,356.0,33.0,30.0,46.0,59.0,172.0,265.0
23026,2015.0,Joey Dorsey,PF,31.0,HOU,69.0,17.0,854.0,11.1,0.507,...,0.289,103.0,176.0,279.0,25.0,40.0,25.0,41.0,157.0,184.0
15368,2001.0,Olden Polynice,C,36.0,UTA,81.0,79.0,1619.0,9.9,0.484,...,0.262,157.0,221.0,378.0,31.0,27.0,77.0,78.0,241.0,429.0

<a id = "5"></a>
#### 5. Rename the variable "Pos" to "Position".

In [105]:
NBADF = nbadf.rename(columns={"Pos": "Position"})

<a id = "6"></a>
#### 6. Use this variable to create two variables that are called "first_position" and "second_position".

Hint: If a player plays two positions, then the "-" is used as a delimiter between their first and second positions. In these cases, you will have to split the position variable into two.

In [106]:
NBADF[["first_position", "second_position"]] = NBADF["Position"].str.split("-", 1, expand=True)
NBADF.drop(columns=["Position"], inplace = True)
NBADF

,Year,Player,Age,Tm,G,GS,MP,PER,TS%,3PAr,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,first_position,second_position
0,1950.0,Curly Armstrong,31.0,FTW,63.0,NaN,NaN,NaN,0.368,NaN,...,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0,G,F
1,1950.0,Cliff Barker,29.0,INO,49.0,NaN,NaN,NaN,0.435,NaN,...,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0,SG,None
2,1950.0,Leo Barnhorst,25.0,CHS,67.0,NaN,NaN,NaN,0.394,NaN,...,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0,SF,None
3,1950.0,Ed Bartels,24.0,TOT,15.0,NaN,NaN,NaN,0.312,NaN,...,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0,F,None
4,1950.0,Ed Bartels,24.0,DNN,13.0,NaN,NaN,NaN,0.308,NaN,...,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0,F,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,0.002,...,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0,PF,None
24687,2017.0,Tyler Zeller,27.0,BOS,51.0,5.0,525.0,13.0,0.508,0.006,...,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0,C,None
24688,2017.0,Stephen Zimmerman,20.0,ORL,19.0,0.0,108.0,7.3,0.346,0.000,...,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0,C,None
24689,2017.0,Paul Zipser,22.0,CHI,44.0,18.0,843.0,6.9,0.503,0.448,...,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0,SF,None
24690,2017.0,Ivica Zubac,19.0,LAL,38.0,11.0,609.0,17.0,0.547,0.013,...,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0,C,None

<a id = "7"></a>
#### 7. Unite these two variables back into a single variable called "position_united".

In [121]:
NBADF['second_position'].fillna('', inplace=True)
NBADF['position_united'] = NBADF['first_position']+NBADF['second_position']
NBADF

,Year,Player,Age,Tm,G,GS,MP,PER,TS%,3PAr,...,TRB,AST,STL,BLK,TOV,PF,PTS,first_position,second_position,position_united
0,1950.0,Curly Armstrong,31.0,FTW,63.0,NaN,NaN,NaN,0.368,NaN,...,NaN,176.0,NaN,NaN,NaN,217.0,458.0,G,F,GF
1,1950.0,Cliff Barker,29.0,INO,49.0,NaN,NaN,NaN,0.435,NaN,...,NaN,109.0,NaN,NaN,NaN,99.0,279.0,SG,,SG
2,1950.0,Leo Barnhorst,25.0,CHS,67.0,NaN,NaN,NaN,0.394,NaN,...,NaN,140.0,NaN,NaN,NaN,192.0,438.0,SF,,SF
3,1950.0,Ed Bartels,24.0,TOT,15.0,NaN,NaN,NaN,0.312,NaN,...,NaN,20.0,NaN,NaN,NaN,29.0,63.0,F,,F
4,1950.0,Ed Bartels,24.0,DNN,13.0,NaN,NaN,NaN,0.308,NaN,...,NaN,20.0,NaN,NaN,NaN,27.0,59.0,F,,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,0.002,...,405.0,99.0,62.0,58.0,65.0,189.0,639.0,PF,,PF
24687,2017.0,Tyler Zeller,27.0,BOS,51.0,5.0,525.0,13.0,0.508,0.006,...,124.0,42.0,7.0,21.0,20.0,61.0,178.0,C,,C
24688,2017.0,Stephen Zimmerman,20.0,ORL,19.0,0.0,108.0,7.3,0.346,0.000,...,35.0,4.0,2.0,5.0,3.0,17.0,23.0,C,,C
24689,2017.0,Paul Zipser,22.0,CHI,44.0,18.0,843.0,6.9,0.503,0.448,...,125.0,36.0,15.0,16.0,40.0,78.0,240.0,SF,,SF
24690,2017.0,Ivica Zubac,19.0,LAL,38.0,11.0,609.0,17.0,0.547,0.013,...,159.0,30.0,14.0,33.0,30.0,66.0,284.0,C,,C

<a id = "8"></a>
#### 8. Create two new datasets.
- a new dataset from the original dataset that includes all data except the age variable (be sure to give this dataset a new name).
- a new dataset from the original dataset that includes the year, the player name, and age.
- add a new column to both datasets called mergeid that includes a sequence of numbers beginning with a 1 in the first row of the data and ending with the total number of rows in the last row of the data

In [132]:
#Same naming suggestion as above. Instead of a mass of letters you can use "nba_df_no_age" instead"

nbadfnoage = NBADF.drop('Age', axis = 1)
nbadfnoage

,Year,Player,Tm,G,GS,MP,PER,TS%,3PAr,FTr,...,TRB,AST,STL,BLK,TOV,PF,PTS,first_position,second_position,position_united
0,1950.0,Curly Armstrong,FTW,63.0,NaN,NaN,NaN,0.368,NaN,0.467,...,NaN,176.0,NaN,NaN,NaN,217.0,458.0,G,F,GF
1,1950.0,Cliff Barker,INO,49.0,NaN,NaN,NaN,0.435,NaN,0.387,...,NaN,109.0,NaN,NaN,NaN,99.0,279.0,SG,,SG
2,1950.0,Leo Barnhorst,CHS,67.0,NaN,NaN,NaN,0.394,NaN,0.259,...,NaN,140.0,NaN,NaN,NaN,192.0,438.0,SF,,SF
3,1950.0,Ed Bartels,TOT,15.0,NaN,NaN,NaN,0.312,NaN,0.395,...,NaN,20.0,NaN,NaN,NaN,29.0,63.0,F,,F
4,1950.0,Ed Bartels,DNN,13.0,NaN,NaN,NaN,0.308,NaN,0.378,...,NaN,20.0,NaN,NaN,NaN,27.0,59.0,F,,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,CHO,62.0,58.0,1725.0,16.7,0.604,0.002,0.442,...,405.0,99.0,62.0,58.0,65.0,189.0,639.0,PF,,PF
24687,2017.0,Tyler Zeller,BOS,51.0,5.0,525.0,13.0,0.508,0.006,0.247,...,124.0,42.0,7.0,21.0,20.0,61.0,178.0,C,,C
24688,2017.0,Stephen Zimmerman,ORL,19.0,0.0,108.0,7.3,0.346,0.000,0.161,...,35.0,4.0,2.0,5.0,3.0,17.0,23.0,C,,C
24689,2017.0,Paul Zipser,CHI,44.0,18.0,843.0,6.9,0.503,0.448,0.181,...,125.0,36.0,15.0,16.0,40.0,78.0,240.0,SF,,SF
24690,2017.0,Ivica Zubac,LAL,38.0,11.0,609.0,17.0,0.547,0.013,0.206,...,159.0,30.0,14.0,33.0,30.0,66.0,284.0,C,,C

In [134]:
nbadfbasic = NBADF[['Player', 'Year', 'Age']]
nbadfbasic

                  Player    Year   Age
0        Curly Armstrong  1950.0  31.0
1           Cliff Barker  1950.0  29.0
2          Leo Barnhorst  1950.0  25.0
3             Ed Bartels  1950.0  24.0
4             Ed Bartels  1950.0  24.0
...                  ...     ...   ...
24686        Cody Zeller  2017.0  24.0
24687       Tyler Zeller  2017.0  27.0
24688  Stephen Zimmerman  2017.0  20.0
24689        Paul Zipser  2017.0  22.0
24690        Ivica Zubac  2017.0  19.0

[24691 rows x 3 columns]

In [141]:
nbadfnoage['mergeid'] = np.arange(len(nbadfnoage))+1
nbadfnoage

,Year,Player,Tm,G,GS,MP,PER,TS%,3PAr,FTr,...,AST,STL,BLK,TOV,PF,PTS,first_position,second_position,position_united,mergeid
0,1950.0,Curly Armstrong,FTW,63.0,NaN,NaN,NaN,0.368,NaN,0.467,...,176.0,NaN,NaN,NaN,217.0,458.0,G,F,GF,1
1,1950.0,Cliff Barker,INO,49.0,NaN,NaN,NaN,0.435,NaN,0.387,...,109.0,NaN,NaN,NaN,99.0,279.0,SG,,SG,2
2,1950.0,Leo Barnhorst,CHS,67.0,NaN,NaN,NaN,0.394,NaN,0.259,...,140.0,NaN,NaN,NaN,192.0,438.0,SF,,SF,3
3,1950.0,Ed Bartels,TOT,15.0,NaN,NaN,NaN,0.312,NaN,0.395,...,20.0,NaN,NaN,NaN,29.0,63.0,F,,F,4
4,1950.0,Ed Bartels,DNN,13.0,NaN,NaN,NaN,0.308,NaN,0.378,...,20.0,NaN,NaN,NaN,27.0,59.0,F,,F,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,CHO,62.0,58.0,1725.0,16.7,0.604,0.002,0.442,...,99.0,62.0,58.0,65.0,189.0,639.0,PF,,PF,24687
24687,2017.0,Tyler Zeller,BOS,51.0,5.0,525.0,13.0,0.508,0.006,0.247,...,42.0,7.0,21.0,20.0,61.0,178.0,C,,C,24688
24688,2017.0,Stephen Zimmerman,ORL,19.0,0.0,108.0,7.3,0.346,0.000,0.161,...,4.0,2.0,5.0,3.0,17.0,23.0,C,,C,24689
24689,2017.0,Paul Zipser,CHI,44.0,18.0,843.0,6.9,0.503,0.448,0.181,...,36.0,15.0,16.0,40.0,78.0,240.0,SF,,SF,24690
24690,2017.0,Ivica Zubac,LAL,38.0,11.0,609.0,17.0,0.547,0.013,0.206,...,30.0,14.0,33.0,30.0,66.0,284.0,C,,C,24691

In [142]:
nbadfbasic['mergeid'] = np.arange(len(nbadfbasic))+1
nbadfbasic

/var/folders/cw/pcxt012s3td1d_ls_vc4g03h0000gn/T/ipykernel_70608/569788659.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nbadfbasic['mergeid'] = np.arange(len(nbadfbasic))+1

                  Player    Year   Age  mergeid
0        Curly Armstrong  1950.0  31.0        1
1           Cliff Barker  1950.0  29.0        2
2          Leo Barnhorst  1950.0  25.0        3
3             Ed Bartels  1950.0  24.0        4
4             Ed Bartels  1950.0  24.0        5
...                  ...     ...   ...      ...
24686        Cody Zeller  2017.0  24.0    24687
24687       Tyler Zeller  2017.0  27.0    24688
24688  Stephen Zimmerman  2017.0  20.0    24689
24689        Paul Zipser  2017.0  22.0    24690
24690        Ivica Zubac  2017.0  19.0    24691

[24691 rows x 4 columns]

<a id = "9"></a>
#### 9. Join the two datasets from question (6) together to recreate the original dataset plus the new merge id.

In [151]:
orignbadf = pd.merge(nbadfnoage, nbadfbasic, how='outer')
orignbadf

,Year,Player,Tm,G,GS,MP,PER,TS%,3PAr,FTr,...,STL,BLK,TOV,PF,PTS,first_position,second_position,position_united,mergeid,Age
0,1950.0,Curly Armstrong,FTW,63.0,NaN,NaN,NaN,0.368,NaN,0.467,...,NaN,NaN,NaN,217.0,458.0,G,F,GF,1,31.0
1,1950.0,Cliff Barker,INO,49.0,NaN,NaN,NaN,0.435,NaN,0.387,...,NaN,NaN,NaN,99.0,279.0,SG,,SG,2,29.0
2,1950.0,Leo Barnhorst,CHS,67.0,NaN,NaN,NaN,0.394,NaN,0.259,...,NaN,NaN,NaN,192.0,438.0,SF,,SF,3,25.0
3,1950.0,Ed Bartels,TOT,15.0,NaN,NaN,NaN,0.312,NaN,0.395,...,NaN,NaN,NaN,29.0,63.0,F,,F,4,24.0
4,1950.0,Ed Bartels,DNN,13.0,NaN,NaN,NaN,0.308,NaN,0.378,...,NaN,NaN,NaN,27.0,59.0,F,,F,5,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,CHO,62.0,58.0,1725.0,16.7,0.604,0.002,0.442,...,62.0,58.0,65.0,189.0,639.0,PF,,PF,24687,24.0
24687,2017.0,Tyler Zeller,BOS,51.0,5.0,525.0,13.0,0.508,0.006,0.247,...,7.0,21.0,20.0,61.0,178.0,C,,C,24688,27.0
24688,2017.0,Stephen Zimmerman,ORL,19.0,0.0,108.0,7.3,0.346,0.000,0.161,...,2.0,5.0,3.0,17.0,23.0,C,,C,24689,20.0
24689,2017.0,Paul Zipser,CHI,44.0,18.0,843.0,6.9,0.503,0.448,0.181,...,15.0,16.0,40.0,78.0,240.0,SF,,SF,24690,22.0
24690,2017.0,Ivica Zubac,LAL,38.0,11.0,609.0,17.0,0.547,0.013,0.206,...,14.0,33.0,30.0,66.0,284.0,C,,C,24691,19.0

<a id = "10"></a>
#### 10. Subset the original dataset to the years 1995-1997. Group the data by team name and then summarize the average number of points per team. Arrange from most to least points.

In [187]:
nbadf90 = nbadf[ (nbadf["Year"] >= 1995) & (nbadf["Year"] <= 1997) ]
nbadf90
nbadf90.groupby("Tm")["PTS"].mean().sort_values(ascending=False)

Tm
SEA    602.348837
UTA    581.454545
CHI    552.347826
LAL    537.319149
LAC    534.422222
ORL    528.770833
NYK    518.347826
SAC    513.340426
CLE    513.093023
DET    513.000000
IND    502.062500
MIL    495.854167
POR    494.200000
GSW    493.568627
MIN    492.333333
SAS    483.078431
WSB    476.865385
BOS    474.924528
HOU    474.396226
PHO    473.745455
CHH    450.690909
ATL    448.188679
DAL    433.964286
VAN    431.617647
MIA    428.178571
DEN    427.052632
NJN    423.214286
PHI    403.067797
TOR    395.575000
TOT    387.007092
Name: PTS, dtype: float64

<a id = "11"></a>
#### 11. Reshape this data in the previous question into a wide format. Create a wide dataset that keeps year in a single column, but spreads team names to multiple individual columns with each column delineating points per team in 1995 and 1996.

In [175]:
nbadf90.pivot_table(values = "PTS", index = "Year", columns = "Tm")

Tm,ATL,BOS,CHH,CHI,CLE,DAL,DEN,DET,GSW,HOU,...,PHO,POR,SAC,SAS,SEA,TOR,TOT,UTA,VAN,WSB
Year,,,,,,,,,,,,,,,,,,,,,
1995.0,440.055556,495.764706,515.562500,520.312500,494.466667,604.428571,488.764706,503.312500,481.500000,499.470588,...,604.866667,528.187500,537.066667,546.375000,646.785714,NaN,488.681818,581.733333,NaN,515.125000
1996.0,447.722222,471.944444,401.476190,575.000000,498.200000,560.600000,471.352941,558.714286,490.235294,466.888889,...,503.058824,543.000000,510.187500,565.133333,659.384615,420.736842,419.767857,600.285714,409.0000,400.380952
1997.0,457.294118,458.222222,450.444444,563.866667,551.769231,275.222222,348.695652,482.687500,510.687500,458.222222,...,366.565217,427.052632,494.250000,370.900000,517.125000,372.809524,322.380952,563.600000,457.0625,543.133333

<a id = "12"></a>
#### 12. Now return the data to a long (tidy) format by moving teams back into a single column and points in a single column.
Hint: data should include three columns: one for year, one for teams, and one for points.

In [177]:
nbadf90[['PTS', 'Tm', 'Year']]

          PTS   Tm    Year
11840   256.0  TOT  1995.0
11841   254.0  SAC  1995.0
11842     2.0  PHI  1995.0
11843  1165.0  DEN  1995.0
11844   188.0  CHH  1995.0
...       ...  ...     ...
13408   561.0  LAC  1997.0
13409   390.0  TOR  1997.0
13410   143.0  TOT  1997.0
13411    91.0  CHH  1997.0
13412    52.0  DEN  1997.0

[1571 rows x 3 columns]

In [182]:
nbadf90.pivot_table(values = ["PTS"], index = ["Year", "Tm"])

                   PTS
Year   Tm
1995.0 ATL  440.055556
       BOS  495.764706
       CHH  515.562500
       CHI  520.312500
       CLE  494.466667
...                ...
1997.0 TOR  372.809524
       TOT  322.380952
       UTA  563.600000
       VAN  457.062500
       WSB  543.133333

[88 rows x 1 columns]